/* #DevYourWeb */
* {margin:0 auto; padding:0 auto;}
#wrapper {width:1048px;}

body {background: #eee; margin:0 auto;}
a {text-decoration: none; color:#b3b2b3;}
a:hover {color:#808080;}

.top_txt {
margin-top:250px;
margin-bottom:-260px;
margin-left:270px;
font-size: 18px;
font-family: Verdana;
color:#808080;
}

#bg_block {
background-color: #eee; 
margin:0 auto; 
height:265px;
width:524px; 
border:solid 2px #b3b2b3;
margin-top:266px;
}

.input_login {
background:url('../img/inputs.png') top center;
height:50px;
width:426px;
margin-top:50px;
}

.input_pass {
background:url('../img/inputs.png') bottom center;
margin-top:15px;
height:50px;
width:426px;
}

.input_text {
background-color:#eee;
height:38px;
width:365px;
margin-top:2px;
margin-left:10px;
font-size:18px;
color:#999;
border:none;
margin-top:5px;
}

.submit {
background-color:#339f92;
height:34px;
width:184px;
box-shadow: 0.1em 0.1em 0.3em black;
border:none;
font-size:15px;
color:#eee;
margin-top:20px;
margin-left:70px;
}

.submit:hover {
background-color:#287f75;
height:34px;
width:184px;
box-shadow: 0.1em 0.1em 0.3em black;
border:none;
font-size:15px;
color:#eee;
margin-top:20px;
margin-left:70px;
}