* {margin:0 auto;padding:0 auto;}
body {background:url('../images/background.png') repeat;}
li {list-style:none;}
a {text-decoration:none;}

::-webkit-scrollbar { height:18px; width:10px; background-color:#aeaeae;} ::-webkit-scrollbar-thumb:vertical {background-color:#3d3d3d; height:100px;} 
::-webkit-scrollbar-thumb:horizontal {background-color:#3d3d3d; width:-5px;}


#wrapper {width:1024px;}
@font-face {
	font-family:marcellus;
	src:url('../fonts/marcellus-sc.regular.ttf');
}
#topbar {
	background-color: rgba(129,129,129,.12);
	-webkit-box-shadow: 0 0 15px rgba(36,36,36,.35), 1px 1px 1px rgba(33,33,33,.11);
	-moz-box-shadow: 0 0 15px rgba(36,36,36,.35), 1px 1px 1px rgba(33,33,33,.11);
	box-shadow: 0 0 15px rgba(36,36,36,.35), 1px 1px 1px rgba(33,33,33,.11);
	width: 100%;height: 55px;
	border-bottom:solid 2px #e8e8e8;
}
#topbar #mini_logo {background:url('../images/logo_topbar.png') no-repeat;width:45px;height:32px;float:left;margin-left:35px;margin-top:10px;}
#topbar ul {position:absolute;margin-top:15px;margin-left:55px;}
#topbar li {display:inline;margin-right:30px;}
#topbar li a {opacity:1;color:#7f7f7f;font:18px Myriad Pro;}
#topbar li a:hover {opacity:0.7;}
#topbar .fb, #topbar .yt, #topbar .tw {float:right;}
#topbar a .fb {background:url('../images/facebook.png') no-repeat;width:52px;height:46px;margin-right:20px;margin-top:4px;}
#topbar a .fb:hover {background:url('../images/facebook_hov.png') no-repeat;}
#topbar a .yt {background:url('../images/youtube.png') no-repeat;width:52px;height:48px;margin-right:20px;margin-top:4px;}
#topbar a .yt:hover {background:url('../images/youtube_hov.png') no-repeat;}
#topbar a .tw {background:url('../images/twitter.png') no-repeat;width:52px;height:48px;margin-right:20px;margin-top:6px;}
#topbar a .tw:hover {background:url('../images/twitter_hov.png') no-repeat;}

#logo {background:url('../images/logo_bg.png') no-repeat;width:644px;height:136px;margin-left:-80px;margin-top:30px;}
#logo span {font:45px marcellus;color:#b0aead;position:relative;top:40px;left:155px;}
.cita {background:url('../images/citation.png') no-repeat;width:303px;height:47px;float:right;margin-top:-30px;opacity:0.5;}

#slider {background:url('../images/slider.png') no-repeat;width:1126px;height:325px;margin-top:30px;margin-left:-30px;}

p.welcome {text-align:center;font:30px Goudy Old Style;color:#727272;margin-left:15px;}

#gallery {width:1200px;margin-left:-30px;}
#gallery .block {margin-bottom:40px;margin-left:20px;background-color:#d0cfcf;width:235px;height:240px;padding:5px 7px 30px 5px;display:inline-block;border:1px solid #99999b;}
#gallery .block:hover {opacity:0.6;}
#gallery a img {border:1px solid #b8b9bb;}
#copy {width:100%;height:45px;background-color:#303030;color:#a6a9b4;font:13px Helvetica;position:fixed;bottom:0;left:0;opacity:0.8;}
#copy p {margin-top:17px;}
#copy p.left {float:left;margin-left:50%;}
#copy p.right {float:right;margin-right:40%;}
